map_server:
    ros__parameters:
        yaml_filename: $(find-pkg-share pudu_navigation)/maps/empty/empty.yaml
        use_sim_time: True
        topic_name: map
        
lifecycle_manager_localization:
    ros__parameters:
        autostart: true
        node_names: ['map_server', 'amcl']
        bond_timeout: 4.0
        attempt_respawn_reconnection: true
        bond_respawn_max_duration: 10.0
        
amcl:
    ros__parameters:
        # параметры топиков и tf
        global_frame_id: "map"
        base_frame_id: "base_footprint"
        odom_frame_id: "odom"
        scan_topic: scan
        map_topic: map

        # начальная позиция робота
        set_initial_pose: true
        initial_pose:
            x: 1.0
            y: 1.0
            z: 0.0
            yaw: 0.0

        # параметры алгоритма
        alpha1: 0.2
        alpha2: 0.2
        alpha3: 0.2
        alpha4: 0.2
        alpha5: 0.2
        beam_skip_distance: 0.5
        beam_skip_error_threshold: 0.9
        beam_skip_threshold: 0.3
        do_beamskip: false
        lambda_short: 0.1
        laser_likelihood_max_dist: 2.0
        laser_max_range: 100.0
        laser_min_range: -1.0
        laser_model_type: "likelihood_field"
        max_beams: 60
        max_particles: 2000
        min_particles: 500
        pf_err: 0.05
        pf_z: 0.99
        recovery_alpha_fast: 0.0
        recovery_alpha_slow: 0.0
        resample_interval: 1
        robot_model_type: "nav2_amcl::DifferentialMotionModel"
        save_pose_rate: 0.5
        sigma_hit: 0.2
        tf_broadcast: true
        transform_tolerance: 1.0
        update_min_a: 0.2
        update_min_d: 0.25
        z_hit: 0.5
        z_max: 0.05
        z_rand: 0.5
        z_short: 0.05
        always_reset_initial_pose: false
        first_map_only: false
        use_sim_time: true
