bt_navigator:
  ros__parameters:
    use_sim_time: True
    global_frame: map
    robot_base_frame: base_footprint
    odom_topic: <robot_namespace>/odom
    transform_tolerance: 0.1
    bt_loop_duration: 10
    default_server_timeout: 20
    wait_for_service_timeout: 1000
    action_server_result_timeout: 900.0
    navigators: ["navigate_to_pose"]
    default_nav_to_pose_bt_xml: $(find-pkg-share pudu_navigation)/config/nav2_bt_navigator/navigate_to_pose_w_recovery.xml
    navigate_to_pose:
      plugin: nav2_bt_navigator::NavigateToPoseNavigator
      
lifecycle_manager_navigation:
    ros__parameters:
        use_sim_time: True
        autostart: true
        node_names: ['bt_navigator', 'planner_server', 'controller_server', 'behavior_server']
        bond_timeout: 4.0
        attempt_respawn_reconnection: true
        bond_respawn_max_duration: 10.0
        
planner_server:
    ros__parameters:
        use_sim_time: True
        expected_planner_frequency: 20.0
        planner_plugins: ["GridBased"]
        GridBased:
          plugin: "nav2_smac_planner::SmacPlanner2D"
          allow_unknown: true          
          max_iterations: 1000000      
          max_planning_time: 2.0       
          downsample_factor: 1
          
smoother_server:
  ros__parameters:
    use_sim_time: True
    smoother_plugins: ["simple_smoother"]
    simple_smoother:
      plugin: "nav2_smoother::SimpleSmoother"
      tolerance: 1.0e-10
      max_its: 1000
      do_refinement: True
          
global_costmap:
  global_costmap:
    ros__parameters:
      footprint_padding: 0.01
      update_frequency: 1.0
      publish_frequency: 1.0
      global_frame: map
      robot_base_frame: base_footprint
      robot_radius: 0.25
      resolution: 0.05
      track_unknown_space: true
      plugins: ["static_layer", "obstacle_layer", "inflation_layer"]
      obstacle_layer:
        plugin: nav2_costmap_2d::ObstacleLayer
        enabled: true
        observation_sources: scan
        footprint_clearing_enabled: true
        combination_method: 1
        scan:
          topic: <robot_namespace>/scan
          obstacle_max_range: 2.5
          obstacle_min_range: 0.0
          raytrace_max_range: 3.0
          raytrace_min_range: 0.0
          max_obstacle_height: 2.0
          min_obstacle_height: 0.0
          clearing: True
          marking: True
          data_type: LaserScan
          inf_is_valid: false
      inflation_layer:
        plugin: nav2_costmap_2d::InflationLayer
        enabled: true
        inflation_radius: 0.25
        cost_scaling_factor: 1.0
        inflate_unknown: false
        inflate_around_unknown: true
      static_layer:
        plugin: nav2_costmap_2d::StaticLayer
        enabled: true
        map_subscribe_transient_local: true
        subscribe_to_updates: true
        transform_tolerance: 0.1
      always_send_full_costmap: true
      
controller_server:
    ros__parameters:
      enable_stamped_cmd_vel: true # для публикации TwistStamped
      use_sim_time: True
      controller_frequency: 20.0
      min_x_velocity_threshold: 0.001
      min_y_velocity_threshold: 0.001
      min_theta_velocity_threshold: 0.001
      failure_tolerance: 0.3
      odom_topic: <robot_namespace>/odom
      progress_checker_plugins: ["progress_checker"]
      goal_checker_plugins: ["goal_checker"]
      controller_plugins: ["DWB", "MPPI"]
      use_realtime_priority: false
      progress_checker:
        plugin: nav2_controller::SimpleProgressChecker
        required_movement_radius: 0.5
        movement_time_allowance: 10.0
      goal_checker:
        plugin: "nav2_controller::SimpleGoalChecker"
        xy_goal_tolerance: 0.25
        yaw_goal_tolerance: 3.14
        stateful: True
      DWB:
        plugin: "dwb_core::DWBLocalPlanner"
        debug_trajectory_details: True
        # минимальные и максимальные скорости по осям X, Y и оси вращения Z
        min_vel_x: -0.3
        min_vel_y: -0.3
        max_vel_x: 0.3
        max_vel_y: 0.3
        max_vel_theta: 1.0
        min_speed_xy: -0.3
        max_speed_xy: 0.3
        min_speed_theta: 0.0
        # минимальные и максимальные значения ускорения и торможения робота
        acc_lim_x: 2.5
        acc_lim_y: 0.0
        acc_lim_theta: 3.2
        decel_lim_x: -2.5
        decel_lim_y: 0.0
        decel_lim_theta: -3.2
        # параметры для генерации скоростей: размер выборки скоростей по всем осям
        vx_samples: 20
        vy_samples: 5
        vtheta_samples: 20
        # горизонт планирования и шаг планирования
        sim_time: 1.7
        linear_granularity: 0.05
        angular_granularity: 0.025
        transform_tolerance: 0.2
        xy_goal_tolerance: 0.25
        trans_stopped_velocity: 0.25
        short_circuit_trajectory_evaluation: True
        # параметры критиков
        critics: ["RotateToGoal", "Oscillation", "BaseObstacle", "GoalAlign", "PathAlign", "PathDist", "GoalDist"]
        BaseObstacle.scale: 0.02
        PathAlign.scale: 32.0
        GoalAlign.scale: 24.0
        PathAlign.forward_point_distance: 0.1
        GoalAlign.forward_point_distance: 0.1
        PathDist.scale: 32.0
        GoalDist.scale: 24.0
        RotateToGoal.scale: 32.0
        RotateToGoal.slowing_factor: 5.0
        RotateToGoal.lookahead_time: -1.0
      MPPI:
        plugin: "nav2_mppi_controller::MPPIController"
        time_steps: 56
        model_dt: 0.05
        batch_size: 600
        ax_max: 3.0
        ax_min: -3.0
        ay_max: 3.0
        ay_min: -3.0
        az_max: 3.5
        vx_std: 0.2
        vy_std: 0.2
        wz_std: 0.4
        vx_max: 0.5
        vx_min: -0.35
        vy_max: 0.0
        wz_max: 1.9
        iteration_count: 1
        prune_distance: 1.7
        transform_tolerance: 0.1
        temperature: 0.3
        gamma: 0.015
        motion_model: "Omni"
        visualize: true
        publish_optimal_trajectory: true
        regenerate_noises: true
        TrajectoryVisualizer:
          trajectory_step: 5
          time_step: 3
        TrajectoryValidator:
          # The validator can be configured with additional parameters if needed.
          plugin: "mppi::DefaultOptimalTrajectoryValidator"
          collision_lookahead_time: 2.0  # Time to look ahead to check for collisions
          consider_footprint: false  # Whether to consider the full robot's footprint (or circle) in trajectory validation collision checks
        AckermannConstraints:
          min_turning_r: 0.2
        critics:
          [
            "ConstraintCritic",
            "CostCritic",
            "GoalCritic",
            "GoalAngleCritic",
            "PathFollowCritic",
            "PathAngleCritic",
          ]
        ConstraintCritic:
          enabled: true
          cost_power: 1
          cost_weight: 4.0
        GoalCritic:
          enabled: true
          cost_power: 1
          cost_weight: 5.0
          threshold_to_consider: 1.4
        GoalAngleCritic:
          enabled: true
          cost_power: 1
          cost_weight: 3.0
          threshold_to_consider: 0.3
        CostCritic:
          enabled: true
          cost_power: 1
          cost_weight: 3.81
          near_collision_cost: 253
          critical_cost: 300.0
          consider_footprint: false
          collision_cost: 1000000.0
          near_goal_distance: 1.0
          trajectory_point_step: 2
        PathFollowCritic:
          enabled: true
          cost_power: 1
          cost_weight: 5.0
          offset_from_furthest: 5
          threshold_to_consider: 1.4
        PathAngleCritic:
          enabled: true
          cost_power: 1
          cost_weight: 2.0
          offset_from_furthest: 4
          threshold_to_consider: 0.5
          max_angle_to_furthest: 1.0
          mode: 0
        
local_costmap:
  local_costmap:
    ros__parameters:
      update_frequency: 5.0
      publish_frequency: 2.0
      global_frame: odom
      robot_base_frame: base_footprint
      rolling_window: true
      width: 6
      height: 6
      robot_radius: 0.25
      resolution: 0.05
      plugins: ["obstacle_layer", "inflation_layer"]
      obstacle_layer:
        plugin: nav2_costmap_2d::ObstacleLayer
        enabled: true
        observation_sources: scan
        footprint_clearing_enabled: true
        combination_method: 1
        scan:
          topic: <robot_namespace>/scan
          obstacle_max_range: 2.5
          obstacle_min_range: 0.0
          raytrace_max_range: 3.0
          raytrace_min_range: 0.0
          max_obstacle_height: 2.0
          min_obstacle_height: 0.0
          clearing: true
          marking: true
          data_type: LaserScan
          inf_is_valid: false
      inflation_layer:
        plugin: nav2_costmap_2d::InflationLayer
        enabled: true
        inflation_radius: 0.25
        cost_scaling_factor: 1.0
        inflate_unknown: false
        inflate_around_unknown: true
      always_send_full_costmap: true
      
behavior_server:
    ros__parameters:
      enable_stamped_cmd_vel: true # для публикации TwistStamped
      use_sim_time: True
      local_costmap_topic: local_costmap/costmap_raw
      global_costmap_topic: global_costmap/costmap_raw
      local_footprint_topic: local_costmap/published_footprint
      global_footprint_topic: global_costmap/published_footprint
      cycle_frequency: 10.0
      behavior_plugins: ["spin", "backup", "wait", "drive_on_heading"]
      spin:
        plugin: nav2_behaviors::Spin
      backup:
        plugin: nav2_behaviors::BackUp
      wait:
        plugin: nav2_behaviors::Wait
      drive_on_heading:
        plugin: nav2_behaviors::DriveOnHeading
      local_frame: odom
      global_frame: map
      robot_base_frame: base_footprint
      transform_tolerance: 0.1
      simulate_ahead_time: 2.0
      max_rotational_vel: 1.0
      min_rotational_vel: 0.4
      rotational_acc_lim: 3.2
